<h3 id="videoconferencing">Zoom installeren</h3>

<p>
  Je kan de Zoom software downloaden van de <a href="https://zoom.us/download">website</a>. Daar staan ook installatie-instructies.
</p>


<h4>Je werkplek organiseren</h4>

<p>
Bij workshops van de Carpentries leer je door "mee te coderen" met de docenten.
Om zo te kunnen werken, moet je een Zoom software geopend hebben, én de software tool die je op dat moment leert.
We raden je daarom aan om je werkplek te organiseren volgens één van de volgende opties:
  <ul>
    <li><strong>Twee displays:</strong> Als je twee displays tot je beschikking hebt,
    probeer dan Zoom op één display te openen, en de software tool op de andere.</li>
    <li><strong>Twee apparaten:</strong> Als je geen twee displays hebt, kun je misschien twee apparaten gebruiken. Het is handiger om het kleinste scherm (telefoon, tablet) te gebruiken voor Zoom, en een groter scherm voor de software tool.</li>
    <li><strong>Gedeeld scherm:</strong> Als je maar één apparaat met één scherm tot je beschikking hebt, bekijk dan vooraf hoe je je scherm het handigst kan indelen. Op grotere displays kan je twee applicaties naast elkaar zetten. Op kleinere schermen werkt het misschien beter om te wisselen tussen de applicaties.
</li>
  </ul>
  Deze <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> bespreekt verschillende mogelijkheden in detail.
</p>
